body {
text-align: center;
    background-color: #C9CDD5;
}

h1 {
    color: #32213A;
    text-align: center;
    font-weight: bold;
    font-family: 'Chela One', cursive;
    font-size: 68px;
    text-shadow: 4px 4px 4px #aaa;
}

h2 {
    font-family: 'Maven Pro', sans-serif;
    color: #383B53;
    text-align: center;
    text-shadow: 4px 4px 4px #aaa;
}

table {
    font-family: 'Maven Pro', sans-serif;
    color: #C9CDD5
    text-align: center;

}