<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Cart</title>
    <link rel="stylesheet" type="text/css" href="formatting.css">
</head>
<body>
<h1>ScamAzon</h1>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<form action="/" method="get">
    <button type="submit">Wait! I want to BUY MORE THINGS!</button>
</form>
<form action="/orders" method="get">
    <button type="submit">View All My Orders</button>
</form>
{{^cart}}
<h2>{{name}}, your cart is empty. You should buy some stuff!</h2>
{{/cart}}
<form action="/checkout" method="post">
    <button type="submit">Checkout!</button>
</form>
<h2>{{name}}! This is your current, totally legitimate cart!</h2>
    <table class = center cellpadding = "5" cellspacing = "5">

        <tr>
            <th>Item Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>

        {{#cart}}
        <tr>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td>{{quantity}}</td>
        </tr>
        {{/cart}}
    </table>
<h2>Total, by which you should totally buy this crap:</h2>
    <table class = center cellpadding="5"cellspacing="5">
        {{#total}}
        <tr>
            <td>Item(s) Subtotal: </td>
            <td>{{subtotal}}</td>
        </tr>
        <tr>
            <td>Shipping & Handling:</td>
            <td>{{shipping}}</td>
        </tr>
        <tr>
            <td>Total before tax:</td>
            <td>{{subPreTax}}</td>
        </tr>
        <tr>
            <td>Estimated tax to be collected:</td>
            <td>{{tax}}</td>
        </tr>
        <tr>
            <td><h2>Grand Total:</h2></td>
            <td><h2>{{grandTotal}}</h2></td>
        </tr>
        {{/total}}
    </table>
</body>
</html>