<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Cart</title>
    <link rel="stylesheet" type="text/css" href="formatting.css">
</head>
<body>
<h1>ScamAzon</h1>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<form action="/" method="get">
    <button type="submit">Wait! I want to BUY MORE THINGS!</button>
</form>
<form action="/checkout" method="post">
    <button type="submit">Checkout!</button>
</form>
<h2>{{name}}! This is your current, totally legitimate cart!</h2>
    <table class = center cellpadding = "5" cellspacing = "5">
        <tr>
            <th>Item Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        {{#cart}}
        <tr>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td>{{quantity}}</td>
        </tr>
        {{/cart}}
    </table>
</body>
</html>