<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" type="text/css" href="formatting.css">
</head>
<body>
<h1>ScamAzon</h1>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<form action="/" method="get">
    <button type="submit">Wait! First I Want To Buy More Things!</button>
</form>
<h2>{{name}}! You know you wanna but this totally legitimate stuff!</h2>
<table class = center cellpadding = "5" cellspacing = "5">
    <tr>
        <th>Item Name</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    {{#order}}
    <tr>
        <td>{{name}}</td>
        <td>{{price}}</td>
        <td>{{quantity}}</td>
    </tr>
    {{/order}}
</table>
</body>
</html>