<!DOCTYPE html>
<html lang="en" xmlns:border-bottom="http://www.w3.org/1999/xhtml">
<head>
    <title>ScamAzon</title>
    <link rel="stylesheet" type="text/css" href="formatting.css">
</head>
<body>
    <h1>ScamAzon</h1>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
    <form action="/cart" method="get">
            <button type="submit">My Cart</button>
        </form>
    <h2>Let me know what you want, I can totally get it for you!</h2>
    <form action ="/add-to-cart" method="post">
        <input type="text" placeholder="Enter the item name" name="itemName"/>
        <input type="number" placeholder="Qty" name="quantity"/>
        <input type="number" placeholder="price" name="price"/>
        <button type="submit">Add to Cart</button>
    </form>
    <h2>-OR-</h2>
    <h2>Here are some completely legitimate items you may be interested in!</h2>

    <form action="/addToCart/" method="get">
    <table class = center cellpadding = "5" cellspacing = "5">
        <tr>
            <th>Item Name</th>
            <th>Price</th>
            <th>Add to Cart</th>
        </tr>
        {{#inventory}}
        <tr>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td>
                <button type="submit">Add to Cart</button>
            </td>
        </tr>
        {{/inventory}}
    </table>
    </form>
</body>
</html>
