<!DOCTYPE html>
<html lang="en">
<head>
    <title>ScamAzon</title>
    <link rel="stylesheet" type="text/css" href="formatting.css">
</head>
<body>
<h1>ScamAzon</h1>
<form action="/scamAzon-logout" method="post">
    <button type="submit">Logout</button>
</form>
<p>Hello, {{name}}!
    Here are your orders!</p>
<table border = "1" cellpadding = "5" cellspacing = "5">
    <tr bgcolor = "#48c9b0">
        <th>Name</th>
        <th>Address</th>
        <th>Type</th>
        <th>Price</th>
        <th>Rating</th>
        <th>Edit</th>
    </tr>
    {{#restaurants}}
    <tr bgcolor = "#FFC300">
        <td>{{name}}</td>
        <td>{{address}}</td>
        <td>{{type}}</td>
        <td>{{price}}</td>
        <td>{{rating}}</td>
        <td> <a href="/restaurant/{{id}}">Edit</a></td>
    </tr>
    {{/restaurants}}
</body>
</html>